body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(139, 30, 139);
    overflow: hidden;
    position: relative;
}

.pokeball {
    position: relative;
    width: 150px;
    height: 150px;
    border: 5px solid black;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.top-half, .bottom-half {
    position: absolute;
    width: 100%;
    height: 50%;
    background: red;
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-half {
    background: white;
    top: 50%;
}

.inner-structure {
    width: 80%;
    height: 80%;
    background: radial-gradient(circle, #b3e5fc 30%, #90caf9 60%, #1a237e 100%);
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.inner-structure::before {
    content: "";
    width: 80%;
    height: 80%;
    border-radius: 50%;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5);
}

.center-button {
    position: absolute;
    width: 40px;
    height: 40px;
    background: white;
    border: 5px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s;
}

.message {
    position: absolute;
    display: none;
    font-size: 12px;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.fireworks-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    display: none;
}

@keyframes fireworks {
    0% { opacity: 1; transform: scale(0.5); }
    50% { opacity: 1; transform: scale(1.5); }
    100% { opacity: 0; transform: scale(2); }
}

.open .top-half {
    transform: translateY(-100%);
}

.open .bottom-half {
    transform: translateY(100%);
}

.open .center-button {
    transform: translate(-50%, -200%);
}

.open .message {
    display: block;
}

.open .fireworks-container {
    display: block;
}

.open .inner-structure {
    display: flex;
}
